<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wapmadrid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <permission
        android:name="com.wapmadrid.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wapmadrid.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".activities.InicioActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".fragments.HomeFragment"
            android:label="@string/title_activity_home_fragment"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.RegistroActivity"
            android:label="@string/title_activity_registro"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.RutasFragment"
            android:label="@string/title_activity_rutas_fragment" />
        <activity
            android:name=".rutas.MapFragment"
            android:label="@string/title_activity_map_fragment" />
        <activity
            android:name=".rutas.CrearRutaViewActivity"
            android:label="@string/title_activity_crear_ruta"
            android:parentActivityName=".activities.CapitanActivity" />
        <activity
            android:name=".capitan.CederCapitaniaViewActivity"
            android:label="@string/title_activity_ceder_capitania"
            android:parentActivityName=".activities.CapitanActivity" />
        <activity
            android:name=".capitan.ComenzarRutaViewActivity"
            android:label="@string/title_activity_comenzar_ruta"
            android:parentActivityName=".activities.CapitanActivity" />
        <activity
            android:name=".capitan.MensajesCapitanViewActivity"
            android:label="@string/title_activity_mensajes_capitan"
            android:parentActivityName=".activities.CapitanActivity" />
        <activity
            android:name=".centroMedico.CentroMedicoDescripcionFragment"
            android:label="@string/title_activity_centro_medico_fragment" />
        <activity
            android:name=".fragments.RutasListFragment"
            android:label="@string/title_activity_rutasList_fragment" />
        <activity
            android:name=".activities.CapitanActivity"
            android:label="Capitan" />
        <activity
            android:name=".activities.GrupoActivity"
            android:label="@string/title_activity_gupo"
            android:parentActivityName=".activities.InicioActivity" />
        <activity
            android:name=".activities.AmigoActivity"
            android:label="@string/title_activity_gupo" />
        <activity
            android:name=".activities.AmigoPeticionActivity"
            android:label="@string/title_activity_peticiones"
            android:parentActivityName=".activities.InicioActivity" />
        <activity
            android:name=".miPerfil.cuestionario.CuestionarioActivity"
            android:label="@string/title_activity_cuestionario"
            android:parentActivityName=".activities.InicioActivity"
            android:theme="@style/Theme.PopUp" />
        <activity
            android:name=".miPerfil.editarPerfil.EditInfoActivity"
            android:label="@string/title_activity_edit_info"
            android:parentActivityName=".activities.InicioActivity"
            android:theme="@style/Theme.PopUp"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".miPerfil.editarPerfil.EditStatusActivity"
            android:label="@string/title_activity_edit_status"
            android:parentActivityName=".activities.InicioActivity"
            android:theme="@style/Theme.PopUp"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activities.NewGroupActivity"
            android:label="@string/title_activity_new_group"
            android:theme="@style/Theme.PopUp"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activities.RoutesListActivity"
            android:label="@string/title_activity_routes_list"
            android:theme="@style/Theme.PopUp"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCM3UEdvLRYH_Jx10VGjofBymjNUU9Wtws" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activities.RouteActivity"
            android:label="@string/title_activity_route" >
        </activity>
        <activity
            android:name=".activities.CMSListActivity"
            android:label="@string/title_activity_cmslist"
            android:theme="@style/Theme.PopUp">
        </activity>
    </application>
\
</manifest>
